.parent-menu {
     /* z-index: 2; */
     width: 100%;
     height: 70px;
     background-color: rgb(129, 125, 125, .5);
     border-radius: 10px 10px 0px 0px;
     position: fixed;
     bottom: 0px;
     left: 0px;
     display: flex;
     align-items: center;
     justify-content:space-around;
}

.parent-menu>ul {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-around;
}

.parent-menu .MuiSvgIcon-root {
     position: relative;
     font-size: 30px !important;
     color: rgb(220, 93, 51);
     z-index: 10;
     cursor: pointer;
}

.menuIcon-li:hover .MuiSvgIcon-root {
     transition: .5s;
     font-size: 35px !important;
     transform: translateY(-45px);
     /* font-size: 40px !important; */
     color: rgba(0, 0, 0, 0.679);
     /* background-color: rgba(46, 46, 91, 0.888); */
     /* border-radius: 20px; */
     z-index: 10;
}



.Menu-circle {
     z-index: 5;
     position: absolute;
     left: 91px;
     top: -43px;
     background-color: rgb(255, 147, 15);
     border-radius: 20px;
     height: 55px;
     width: 55px;
     border: 7px solid var(--color-ECF0F1);
     /* opacity: .4; */
}

 ul .menuIcon-li:nth-child(1).active  ~ .Menu-circle{
     transform: translateX(calc(120px * 0));
     transition: 1s;
     /* left: calc(60px*2) */
     /* background-color: black; */
}

ul .menuIcon-li:nth-child(2).active  ~ .Menu-circle{
     transform: translateX(calc(230px * 1));
     transition: 1s;
}

ul .menuIcon-li:nth-child(3).active  ~ .Menu-circle{
     transform: translateX(calc(232px * 2));
     transition: 1s;
}

ul .menuIcon-li:nth-child(4).active  ~ .Menu-circle{
     transform: translateX(calc(232px * 3));
     transition: 1s;
}

ul .menuIcon-li:nth-child(5).active  ~ .Menu-circle{
     transform: translateX(calc(232px * 4));
     transition: 1s;
}

ul .menuIcon-li:nth-child(6).active  ~ .Menu-circle{
     transform: translateX(calc(232px * 5));
     transition: 1s;
}

/* ul .menuIcon-li:nth-child(4).active  ~ .Menu-circle{
     transform: translateX(calc(230px * 3));
     transition: .5s;
     background-color: brown;
} */

.active .MuiSvgIcon-root{
     font-size: 35px !important;
    color: black;
     transform: translateY(-45px);
}
