.parent-items {
     width: 100%;
     height: 100vh;
     /* background-color: rgb(182, 113, 64); */
}

.category-all-item {
     margin: 5px 10px;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.category-all-item>p {
     list-style: none;
     color: rgb(237, 170, 68);
     cursor: pointer;
     display: flex;
     align-items: center;
}

.category-all-item-li{
     margin-right: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
     color: aliceblue;
    height: 25px;
    width: 30px;
    border-radius: 10px;
    background-color: rgba(225, 133, 20, 0.897);
    box-shadow: 0px 0px 10px rgba(40, 39, 39, 0.578);
}

.category-all-item-li:hover{
     background-color: rgba(225, 92, 20, 0.897);
}

.child-items {
     /* background-color: rgba(171, 245, 245, 0.524); */
     width: 100%;
     margin: 30px 10px;
     height:max-content;
     display: flex;
     /* flex-wrap: wrap; */
     overflow:auto;
}

::-webkit-scrollbar{
     display: none;
}

.Items-first-row {
     margin: 10px 50px;
     padding: 20px;
     cursor: pointer;
     border-radius: 20px;
     height: 120px;
     background-color: blueviolet;
     box-shadow: 0px 0px 10px rgba(52, 49, 49, 0.689);
     list-style: none;
     color: rgb(213, 159, 33);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.Items-first-row:hover{
     transition: .8s;
     background-color: rgb(134, 17, 243);
     transform: scale(1.1);
     /* width: 101px; */
}

.first-row-item-img ~ h4 {
     margin: 10px 0px;
}

.first-row-item-img ~ li:hover{
     background-color: rgba(225, 152, 36, 0.833);
}

.first-row-item-img~li {
     display: flex;
     align-items: center;
     justify-content: center;
     color: aliceblue;
     width: max-content;
     height: max-content;
     background-color: rgb(176, 133, 68);
     border-radius: 10px;
}

.first-row-item-img {
     width: 60%;
}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.second-child{
     margin: 5px 20px ;
     height:max-content;
     padding: 10px;
     display: flex;
     /* flex-direction: column; */
     flex-wrap: wrap;
     /* background-color: aqua; */
     width:100%;
     /* overflow: auto; */
}

.Item-second-row-img{
     cursor: pointer;
     position: relative;
     top: -85px;
     left: 20px;
     width: 120px;
   margin: auto;
}

.Items-second-row{
     margin: 60px 10px;
     padding: 10px;
     height: 200px;
     width: 250px;
     background-color: rgb(255, 255, 255);
     border-radius: 20px;
     display: flex;
     box-shadow: 0px 0px 20px rgba(65, 64, 64, 0.527);
}

.Items-second-row-items-img-rating-type{
     /* background-color: rgb(215, 215, 217); */
     border-radius: 20px;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     width: 85%;
}

.Items-second-row-contents{
     cursor: pointer;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     position: relative;
     top: -30px;
}

.Items-second-row-contents> p{
    
     font-size:25px;
}
.Items-second-row-contents> p > spam{
     font-size:20px;
     color: rgb(232, 146, 19);
}

.Items-second-row-fav-add> .MuiSvgIcon-root{
     cursor: pointer;
    color:rgb(243, 156, 26) ;
    /* box-shadow: 0px 0px 10px 0px; */
}

.Items-second-row-fav-add> .MuiSvgIcon-root:hover{
     transition: .5s;
     transform: scale(1.4);

     color:rgb(221, 63, 19) ;
}

.Items-second-row-fav-add>.MuiSvgIcon-root:nth-child(2){
     font-size: 35px;
}

.Items-second-row-fav-add{
     margin-top: 20px;
     /* background-color: aqua; */
     height: 80%;
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content:space-between;
}