
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root{
  --color-ECF0F1:#ECF0F1 ; 
}


body{
  font-family: 'Mochiy Pop One', sans-serif;
  background-color:#ECF0F1 ; 
  /* overflow: hidden; */
}

.App {
  text-align: center;
  background-color: var(--color-633974);
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
}

img{
  max-width: 100%;
}

